.tab-header>.tab-header-content::-webkit-scrollbar {
  display: none;
}

.tab-header>.tab-header-content {
  scroll-behavior: smooth;
}

*[style*="font-family: open-sans"] {
  font-family: "Open Sans", sans-serif !important;
}

*[style*="font-family:open-sans"] {
  font-family: "Open Sans", sans-serif !important;
}

.product-tabs-sticky {
  position: sticky;
  z-index: 9000; /* below subcate menu (10000) but above content */
  background: #fff;
}