@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transition-property: opacity,transform;
    }
    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}