.ProseMirror {
    &:focus-visible {
        outline: none;
    }

    a {
        color: #00b3ff;
        text-decoration: underline;
    }

    h1 {
        font-weight: bold !important;
        font-size: 40px !important;
    }

    h2 {
        font-weight: bold !important;
        font-size: 30px !important;
    }

    h3 {
        font-weight: bold !important;
        font-size: 20px !important;
    }

    h4 {
        font-weight: bold !important;
        font-size: 15px !important;
    }

    ul {
        padding-left: 24px;
    }

    ol {
        padding-left: 24px;
    }

    img {
        max-height: 800px;
        max-width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    span[data-emoji-suggestion],
    span[data-emoji-replacer] {
        >img {
            width: 1.1em;
            height: 1.1em;
            margin: 0 0.05em;
            vertical-align: -0.25em;
        }
    }

    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid;
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: var(--gray-2);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--purple);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }
}