.ProseMirror {
    &:focus-visible {
        outline: none;
    }

    a {
        color: #00b3ff;
        text-decoration: underline;
    }

    h1 {
        font-weight: bold !important;
        font-size: 40px !important;
    }

    h2 {
        font-weight: bold !important;
        font-size: 30px !important;
    }

    ul {
        padding-left: 24px;
    }

    ol {
        padding-left: 24px;
    }
}