@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto !important;
  top: auto !important;
}

*[style*="font-family: open-sans"] {
  font-family: "Open Sans", sans-serif !important;
}

*[style*="font-family:open-sans"] {
  font-family: "Open Sans", sans-serif !important;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.blog-content .wp-block-paragraph {
  line-height: 1.7;
  word-spacing: 2px;
}

.blog-content p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blog-content .entry-content p {
  line-height: 1.8;
}

/* Style all headers in WordPress */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* Word spacing */
  margin-top: 1em;
  /* Top spacing */
  margin-bottom: 0.5em;
  /* Bottom spacing */
  color: #222;
  /* Text color */
}

.blog-content h1 {
  font-size: 2.25rem;
}

/* ~40px */
.blog-content h2 {
  font-size: 1.75rem;
}

/* ~32px */
.blog-content h3 {
  font-size: 1.5rem;
}

/* ~28px */
.blog-content h4 {
  font-size: 1.25rem;
}

/* ~24px */
.blog-content h5 {
  font-size: 1rem;
}

/* ~20px */
.blog-content h6 {
  font-size: 0.75rem;
}

.blog-content ul {
  margin: 1em 0;
  /* space above/below list */
  padding-left: 1.5em;
  /* space before bullets */
}

.blog-content ul li {
  margin-bottom: 0.5em;
  /* spacing between items */
  line-height: 1.6;
  /* line spacing inside items */
  list-style-type: disc;
}

.blog-content a {
  color: #0073aa;
  text-decoration: underline;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important
  }
}

.wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start
}

.wp-block-columns.are-vertically-aligned-center {
  align-items: center
}

.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 100% !important
  }
}

@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 0;
    flex-grow: 1
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] {
    flex-grow: 0
  }
}

.wp-block-columns.is-not-stacked-on-mobile {
  flex-wrap: nowrap !important
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column {
  flex-basis: 0;
  flex-grow: 1
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*=flex-basis] {
  flex-grow: 0
}

:where(.wp-block-columns) {
  margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
  padding: 1.25em 2.375em
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word
}

.wp-block-column.is-vertically-aligned-top {
  align-self: flex-start
}

.wp-block-column.is-vertically-aligned-center {
  align-self: center
}

.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end
}

.wp-block-column.is-vertically-aligned-stretch {
  align-self: stretch
}

.wp-block-column.is-vertically-aligned-bottom,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-top {
  width: 100%
}

.wp-block-post-content {
  display: flow-root
}

.wp-block-post-navigation-link .wp-block-post-navigation-link__arrow-previous {
  display: inline-block;
  margin-right: 1ch
}

.wp-block-post-navigation-link .wp-block-post-navigation-link__arrow-previous:not(.is-arrow-chevron) {
  transform: scaleX(1)
}

.wp-block-post-navigation-link .wp-block-post-navigation-link__arrow-next {
  display: inline-block;
  margin-left: 1ch
}

.wp-block-post-navigation-link .wp-block-post-navigation-link__arrow-next:not(.is-arrow-chevron) {
  transform: scaleX(1)
}

.wp-block-post-navigation-link.has-text-align-left[style*="writing-mode: vertical-lr"],
.wp-block-post-navigation-link.has-text-align-right[style*="writing-mode: vertical-rl"] {
  rotate: 180deg
}

:root :where(.wp-block-columns-is-layout-flex) {
  gap: 10px;
}